version: '3.8'

services:
  # Backend running locally
  backend-1:
    build: ./backend
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/driver_tracker
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - mongo
      - redis
    networks:
      - app-network

  backend-2:
    build: ./backend
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/driver_tracker
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - mongo
      - redis
    networks:
      - app-network

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "3000:80"
    depends_on:
      - backend-1
      - backend-2
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

volumes:
  mongo_data:


networks:
  app-network:
    driver: bridge
